<form [formGroup]="addLessonForm" (ngSubmit)="this.onSubmit()">
  
    <label>
      Название курса:<br>
      <input type="text" formControlName="lessonTitle">
    </label><br><br>
  
    <label>
      Описание курса:<br>
      <input type="text" formControlName="lessonDescription">
    </label><br><br>

    <label>
        Длительность курса:<br>
        <input type="text" formControlName="lessonTime">
    </label><br><br>

    <button type="submit" [disabled]="!addLessonForm.valid">Добавить</button>
  
  </form>