<p>first-comp works!</p>

<div>
    <h6>Сидение на кортах</h6>
    <p>Эксперты нашего онлайн-университета научат вас профессионально сидеть на кортах всего за 4 занятия.</p>
    <p>1 месяц</p>
</div>

<div>
    <h6>Щёлканье семок</h6>
    <p>Научим не только технологии, но и этикету этого популярного занятия настоящих пацанов.</p>
    <p>2 месяца</p>
</div>

<div>
    <h6>Основы отжимания мобил</h6>
    <p>Курс дает базовые знания в искусстве по отжатию мобильных телефонов. Продолжить обучение по данной специальности можно на очных занятиях курса “Отжимание мобилок - от новичка к профессионалу”.</p>
    <p>6 месяцев</p>
</div>